h1, h2 {
	display: none;
}

#body {
	width: 100%;
	align: center;
}

#logon {
	border: 1px solid black;
}

#menu {
	width: 100%;
	padding-top: 1em;
	padding-bottom: 0.5em;
	list-style-type: none;
	border: 1px solid black;
	background-color: #CCFFFF;
}

#menu ul {
	margin: auto;
}

#menu ul li {
	display: inline;
}

#footer {
	font-size: small;
	margin-top: 20px;
}

#messages {
	color: red;
}